
.main-page
  position: relative
  width: 100%
  height: 100vh
  overflow: hidden
  // font-family: tornado

  .video-background
    width: 100%
    height: 100%

    video
      +xy-align
      min-width: 100%
      min-height: 100%
      width: auto
      height: auto

  // .bg-video-container
  //   position: absolute
  //   width: 100%
  //   height: 100%
  //   z-index: -1
  // #bg-video
  //   +fullsize

  // .video-background
  //   +fullsize
  //   z-index: -1
  //   &:after
  //     content: ''
  //     display: block
  //     +fullsize
  //     background: rgba(white, .3)
  // .video-foreground, .video-background iframe
  //   +fullsize
  //   pointer-events: none
 
  //   width: 100%
  //   height: 100%
  //   +scale(1.3)
    
  .logo
    +x-align
    top: 10%
    // padding-top: 100px
    svg
      width: 320px

  .content-wrap
    +xy-align
    width: 80%
    .text
      position: relative
      h1
        color: #22292d
        // text-transform: uppercase
        font-weight: 300
        font-size: 77px
        line-height: 1
      p
        color: #c1272d
        font-size: 21px

    .text
      &:before
        content: "\2033"
        position: absolute
        top: -50px  
        left: -50px
        color: rgba(#22292d, 0.1)
        font-size: 200px
  +breakpoint(medium only)
    .logo
      top: 8%
    iframe
      +scale(2.3)
  +breakpoint(small only)
    .logo
      top: 8%
    .content-wrap
      padding-top: 100px
      .text
        h1
          font-size: 38px